* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 2rem;
}

.mainLogo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainLogo img {
  width: 100%;
  max-width: 30rem;
}

.searchBox {
  position: relative;

  height: 4rem;
}

.searchBox input {
  width: 100%;
  height: 4rem;
  margin: 2rem auto;
  display: block;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 4px 15px 0px;
  padding: 0px 20px 0px 50px;
  font-size: 18px;
}

.searchBox svg {
  position: absolute;
  top: 30%;
  left: 15px;
  width: 1.5rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 6rem auto;
}

.pokedexBox {
  position: relative;
  width: 100%;
  height: 220px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px 0px;
  background-color: white;
}

.pokedexBox:hover,
.blackBox:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: bottom;
  transition: 0.5s ease;
}

.blackBox {
  position: relative;
  width: 100%;
  height: 220px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px 0px;
  background-color: #444444;
}

.blackNumber,
.whiteName {
  color: white;
}

.type {
  border: 1px solid black;
  border-radius: 20px;
  color: white;
  background-color: black;
  font-size: 13px;
  padding: 5px;
  margin-top: 0.3rem;
  display: block;
  width: fit-content;
}

.type2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: black;
  background-color: white;
  font-size: 13px;
  padding:3px;
  display: block;
  width: fit-content;
}

.typeBox {
  display: flex;
  gap: 0.3rem;
}

.Image {
  position: absolute;
  width: 6rem;
  bottom: 1rem;
  right: 7%;
}

.hidden {
  display: none;
}

.fullBox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0px;
  z-index: 55;
  display:flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  position: relative;
  width: 700px;
  height: 600px;
  margin: 10rem auto;
  background-color: white;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 10px;
  font-weight: 600;
  font-size: 2rem;
}

.colorBg {
  width: 100%;
  height: 65%;
  background-color: yellow;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokename {
  font-size: 3rem;
  font-weight: 600;
}

.colorBg img {
  width: 17rem;
}

.innerImg {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.innerImg img {
  width: 100%;
}

.leftImg {
  width: 15rem;
}

.rightImg {
  width: 15rem;
}

.innerNum {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  background-color: black;
  color: white;
  border-radius: 40px;
}

.pokemonInformation{
  width:500px;
  height:100px;
  margin:0 auto;
  background-color:#fff;
  border: 1px solid white;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px 0px;
  display:grid;
  grid-template-columns: repeat(3, minmax(0px,1fr));
}

.typeInformation{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.heightInformation{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.weightInformation{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.description{
  display:flex;
  width:500px;
  margin: 2rem auto;
  justify-content: center;
  font-size:13px;
  font-weight:500;
}

.infoType,
.height,
.weight{
  margin-bottom:10px;
}

@media (max-width: 958px) {
  .main {
    padding: 0px 0rem;
  }
}

@media (max-width: 900px) {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 6rem auto;
  }

  .main {
    padding: 0px 2rem;
  }
}

@media (max-width: 740px) {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 6rem auto;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .innerBox {
    width: 100%;
  }
}

@media (max-width: 522px) {
  .pokeName {
    font-size: 22px;
  }

  .pokedexBox {
    overflow: hidden;
  }

  .blackBox {
    overflow: hidden;
  }
}

@media (max-width: 500px){
  .pokemonInformation{
    width:100%;
  }

  .description{
    width:100%;
  }
}
