.blackBackground {
  background-color: #222;
  transition: 0.6s ease;
  min-height: 980px;
  position:relative;
}

.whiteBackground {
  background-color: white;
  transition: 0.6s ease;
  height: 100%;
  position:relative;
}
